<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <!-- Servlet for endpoints -->
   <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>com.example.betweenus.backend.MyEndpoint</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>

    <!-- Yelp Search Servlet -->
    <servlet>
        <servlet-name>YelpSearchServlet</servlet-name>
        <servlet-class>com.example.betweenus.backend.servlet.YelpSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>YelpSearchServlet</servlet-name>
        <url-pattern>/yelp/search</url-pattern>
    </servlet-mapping>

    <!-- Yelp Fetch Servlet (fetch by id) -->
    <servlet>
        <servlet-name>YelpFetchServlet</servlet-name>
        <servlet-class>com.example.betweenus.backend.servlet.YelpFetchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>YelpFetchServlet</servlet-name>
        <url-pattern>/yelp/fetch</url-pattern>
    </servlet-mapping>

    <!-- Fb Search Servlet -->
    <servlet>
        <servlet-name>FbSearchServlet</servlet-name>
        <servlet-class>com.example.betweenus.backend.servlet.FbSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FbSearchServlet</servlet-name>
        <url-pattern>/fb/search</url-pattern>
    </servlet-mapping>

    <!-- Fb Fetch Servlet (fetch by id) -->
    <servlet>
        <servlet-name>FbFetchServlet</servlet-name>
        <servlet-class>com.example.betweenus.backend.servlet.FbFetchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FbFetchServlet</servlet-name>
        <url-pattern>/fb/fetch</url-pattern>
    </servlet-mapping>

    <!-- GoogleMaps Directions Servlet -->
    <servlet>
        <servlet-name>GoogleMapsDirectionsServlet</servlet-name>
        <servlet-class>com.example.betweenus.backend.servlet.GoogleMapsDirectionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleMapsDirectionsServlet</servlet-name>
        <url-pattern>/google/directions</url-pattern>
    </servlet-mapping>

    <!-- GoogleMaps DistanceMatrix Servlet -->
    <servlet>
        <servlet-name>GoogleMapsDistanceMatrixServlet</servlet-name>
        <servlet-class>com.example.betweenus.backend.servlet.GoogleMapsDistanceMatrixServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleMapsDistanceMatrixServlet</servlet-name>
        <url-pattern>/google/distancematrix</url-pattern>
    </servlet-mapping>

    <!-- Google Nearby Search Servlet -->
    <servlet>
        <servlet-name>GoogleNearbySearchServlet</servlet-name>
        <servlet-class>com.example.betweenus.backend.servlet.GoogleNearbySearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleNearbySearchServlet</servlet-name>
        <url-pattern>/google/nearbysearch</url-pattern>
    </servlet-mapping>

    <!-- Google Text Search Servlet -->
    <servlet>
        <servlet-name>GoogleTextSearchServlet</servlet-name>
        <servlet-class>com.example.betweenus.backend.servlet.GoogleTextSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleTextSearchServlet</servlet-name>
        <url-pattern>/google/textsearch</url-pattern>
    </servlet-mapping>

    <!-- Google Place Details Servlet -->
    <servlet>
        <servlet-name>GooglePlaceDetailsServlet</servlet-name>
        <servlet-class>com.example.betweenus.backend.servlet.GooglePlaceDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GooglePlaceDetailsServlet</servlet-name>
        <url-pattern>/google/placedetails</url-pattern>
    </servlet-mapping>

    <!-- Use https -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>all</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>

        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- Welcome file -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>